<section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
        <p>Welcome to my portfolio! My name is Abdul Rehman and I am a Professional Web Developer with 2 years of experience. In this portfolio, you will find a selection of my work that showcases my skills, abilities, and style. From Static Websites to SPA , I have had the opportunity to work with a variety of clients and on a wide range of projects. I have experience in HTML, CSS, JavaScript, Angular Framework, TypeScript, Java Code and Spring framework.I have built many static and SPA using these techniques. Thank you for taking the time to review my portfolio. I hope you enjoy browsing through my work and learning more about me.</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="assets/picture.jpg" class="img-fluid" alt="profile_picture">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>UI/UX Designer &amp; Web Developer.</h3>
          <img class="logo-img" src="assets/company.png" alt=" logo">
          <p class="fst-italic">
            Here is my breif Introduction about me

          </p>
          <div class="row">

              <ul>
                <li><i class="pi pi-chevron-right"></i> <strong>Age:</strong> <span>20</span></li>
                <li><i class="pi pi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                <li><i class="pi pi-chevron-right"></i> <strong>GitHub:</strong> <span>https://github.com/AbdulRehmanjr/</span></li>
              </ul>

          </div>
        </div>
      </div>
    </div>
  </section>
