#aside {
    width: 225px;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      transition: all ease-in-out 0.5s;
      z-index: 9997;
      transition: all 0.5s;
      padding: 0 15px;
      background: #040b14;
      overflow-y:visible;
    }
    
    #aside .profile img {
      object-fit:cover;
      margin: 10px auto;
      display: block;
      width: 120px;
      height: 95px;
      border: 8px solid #2c2f3f;
    }
  
    
    #aside .profile h1 {
      font-size: 24px;
      margin: 0;
      padding: 0;
      font-weight: 600;
      -moz-text-align-last: center;
      text-align-last: center;
      font-family: "Poppins", sans-serif;
    }
    
    #aside .profile h1 a,a:hover{
      color: #fff;
      text-decoration: none;
    }
  
  
    
    #aside .profile .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #212431;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
    }
    
    #aside .profile .social-links a:hover {
      background: #149ddd;
      color: #fff;
      text-decoration: none;
    }
  
    
    .nav-menu {
      padding: 30px 0 0 0;
    }
    
    .nav-menu * {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .nav-menu>ul>li {
      position: relative;
      white-space: nowrap;
    }
    
    .nav-menu a,
    .nav-menu a:focus {
      display: flex;
      align-items: center;
      color: #a8a9b4;
      padding: 12px 15px;
      margin-bottom: 8px;
      transition: 0.3s;
      font-size: 15px;
    }
    
    .nav-menu a i,
    .nav-menu a:focus i {
      font-size: 24px;
      padding-right: 8px;
      color: #6f7180;
    }
    
    .nav-menu a:hover,
    .nav-menu .active,
    .nav-menu .active:focus,
    .nav-menu li:hover>a {
      text-decoration: none;
      color: #fff;
    }
    .nav-menu a:hover i,
    .nav-menu li:hover>a i {
      color: #149ddd;
    }
    h2{
      font-size: 20px;
    }