<section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Services</h2>
        <p>Service Offers By Spydev&copy;</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box">
          <div class="icon"><i class="pi pi-database"></i></div>
          <h4 class="title"><a href="">DBMS</a></h4>
          <p class="description">My Sql database management</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" >
          <div class="icon"><i class="pi pi-globe"></i></div>
          <h4 class="title"><a href="">Web Applications</a></h4>
          <p class="description">Front end and backend development of web based applications</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box">
          <div class="icon"><i class="pi pi-shield"></i></div>
          <h4 class="title"><a href="">Secuirty Management</a></h4>
          <p class="description">Auth and acess control on websites</p>
        </div>
      </div>

    </div>
  </section>
