#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 225px;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
  }
    
  .nav-menu {
    width:fit-content;
    display: flex;
    padding: 30px 0 0 0;
    background: rgba(255, 255, 255, 0.61);
    border: none;
box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);
    border-radius: 10px;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    white-space: nowrap;
  }
  ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .nav-menu a,
  .nav-menu a:focus {
    color:black;
    padding: 0px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color:black;
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    text-decoration: none;
    color:black;
  }
  
  .nav-menu a:hover i,
  .nav-menu .active i,
  .nav-menu .active:focus i,
  .nav-menu li:hover>a i {
    color: #149ddd;
  }
  h2{
    font-size: 20px;
  }