<section id="hero" class="d-flex flex-row justify-content-center align-items-center">
  <div class="row d-none d-sm-block  d-xl-none">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>
    <div class="hero-container">
      <img class="logo" src="assets/company_light.png" alt="logo">
      <h1>Abdul Rehman</h1>
      <ngx-typed-js [strings]="['Angular Developer', 'Spring boot Developer','Freelancer']" [shuffle]="false" [typeSpeed]="40" [loop]="true" [backSpeed]="40">
        <p>I'm <span class="typing"></span></p>
      </ngx-typed-js>
    </div>
</section>
