<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Abdul Rehman</h4>
            <p><em>Innovative and deadline-driven Web Developer with 3+ years of experience developing Static and Dynamic Web Pages</em></p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Fsc Pre Engineering</h4>
            <h5>2018 - 2020</h5>
            <p><em>Kips College, Gujranwala</em></p>
            <p>This certificate is equivalent to 12 years of Education (HSSC)</p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Computer Science</h4>
            <h5>2020 - Present</h5>
            <p><em>Dept. of Computer Science & IT, University of Gujrat, Gujrat</em></p>
            <ul>
              <li>Simulation and Model</li>
              <li>Service Oriented Architecure</li>
              <li>DSA C/C++ & Java</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6" >
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Senior Web Developer</h4>
            <h5>2020 - Present</h5>
            <div class="d-block">
              <img  width="150" height="150" src="assets/company.png" alt="company logo">
            </div>

            <p><em>Crafting Digital Experience</em></p>
            <ul>
              <li>Multi Vendor Web Applications.</li>
              <li>Backend: Spring boot (Java) </li>
              <li>Databases:  MySQL & FireBase (for Big Data)</li>
              <li>LawTasks (consultant & platform for legal work) built thorugh metioned technologies
              </li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Web design specialist</h4>
            <h5>2020 - Present</h5>
            <p><em>Free Lancing</em></p>
            <ul>
              <li>Developed Exam portal, Quiz App , E-learning Management System.</li>
              <li>Backend: Secuirty and Cloud based Applications in spring boot</li>
              <li>Certified in NDG Linux Unhatched(Cisco)</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Teacher's Assistant</h4>
            <h5>2022-2023</h5>
            <p><em>Dept. of Computer Science & IT, University of Gujrat, Gujrat</em></p>
            <ul>
              <li>Programming Fundamentals C/C++</li>
              <li>DSA C/C++ & Java</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </section>
