<section id="facts" class="facts">
    <div class="container">

      <div class="section-title">
        <h2>Facts</h2>
       <p>Here are some facts about my development career</p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-duration="1000">
          <div class="count-box">
            <i class="pi pi-heart-fill"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter">25</span>
            <p><strong>Happy Clients</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
          <div class="count-box">
            <i class="pi pi-file"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter">40+</span>
            <p><strong>Projects</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <div class="count-box">
            <i class="pi pi-wrench"></i>
            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter">1000+</span>
            <p><strong>Hours Of Support</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
          <div class="count-box">
            <i class="pi pi-users"></i>
            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter">5</span>
            <p><strong>Hard Workers</strong></p>
          </div>
        </div>

      </div>

    </div>
  </section>