<section id="facts" class="facts">
    <div class="container">

      <div class="section-title">
        <h2>Facts</h2>
       <p>Here are some facts about my development career</p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" >
          <div class="count-box">
            <i class="fa-solid fa-heart mt-4"></i>
            <span class="purecounter">25</span>
            <p><strong>Happy Clients</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"  >
          <div class="count-box">
            <i class="fa-solid fa-file mt-4"></i>
            <span  class="purecounter">40+</span>
            <p><strong>Projects</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" >
          <div class="count-box">
            <i class="fa-solid fa-wrench mt-4"></i>
            <span class="purecounter">1000+</span>
            <p><strong>Hours Of Support</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"  >
          <div class="count-box">
            <i class="fas fa-users mt-4"></i>
            <span  class="purecounter">5</span>
            <p><strong>Hard Workers</strong></p>
          </div>
        </div>

      </div>

    </div>
  </section>
